
extend layout
block content 
    table.table
        thead
            tr
                th EVENT
                th DATE
        tbody
            each attendance in attendances
            
                tr
                td= attendance.event_name
                td= attendance.attendance_date

    style.
        .table {
        width: 50%;
        border-collapse: collapse;
        margin-top: 20px;
        }

        th, td {
        border: 2px solid #ddd;
        padding: 12px;
        text-align: left;
        }

        th {
        background-color: #3498db;
        color: #fff;
        }

